<%= form_for(@constituency) do |f| %>
  <% if @constituency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constituency.errors.count, "error") %> prohibited this constituency from being saved:</h2>

      <ul>
      <% @constituency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Wydane karty" %><br>
    <%= f.number_field :used_ballots %>
  </div>

  <div class="field">
    <%= f.label "Nieważne głosy - brak wyboru" %><br>
    <%= f.number_field :invalid_no_choise %>
  </div>
  <div class="field">
    <%= f.label "Nieważne głosy - za dużo wyborów" %><br>
    <%= f.number_field :invalid_more_choises %>
  </div>
  <div class="field">
    <%= f.label "Nieważne głosy - inny powód"%><br>
    <%= f.number_field :invalid_other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
