
<p>
  <strong>Nazwa:</strong>
  <%= @constituency.name %>
</p>

<p>
  <strong>Województwo:</strong>
  <%= @constituency.voivodeship %>
</p>

<p>
  <strong>Liczba głosujących:</strong>
  <%= @constituency.voters %>
</p>

<p>
  <strong>Wydane karty:</strong>
  <%= @constituency.used_ballots %>
</p>

<p>
  <strong>Nieważny głos - brak wyboru:</strong>
  <%= @constituency.invalid_no_choise %>
</p>

<p>
  <strong>Nieważny głos - za dużo wyborów:</strong>
  <%= @constituency.invalid_more_choises %>
</p>

<p>
  <strong>Nieważny głos - inny powód:</strong>
  <%= @constituency.invalid_other %>
</p>

<%= link_to 'Edytuj', edit_constituency_path(@constituency) %> |
<%= link_to 'Wróć', constituencies_path %>
