<%= form_for @committee, :html => { :multipart => true }  do |f| %>
  <% if @committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% @committee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nazwa" %><br>
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label "Logo" %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label "Województwo" %><br>
   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
