<h1> Wyniki głosowania dla komitetów wyborczych </h1>



<table>
  <thead>
    <tr>
      <th>Komitet wyborczy</th>
      <th>Okręg wyborczy</th>
      <th>Ważne głosy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.committee %></td>
        <td><%= vote.constituency %></td>
        <td><%= vote.yes_vote %></td>
        <td><%= link_to 'Pokaż', vote %></td>
        <td><%= link_to 'Edytuj', edit_vote_path(vote) %></td>
        <td><%= link_to 'Usuń', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowe głosy', new_vote_path %>
