

<p>
  <strong>Committee:</strong>
  <%= @vote.committee %>
</p>

<p>
  <strong>Constituency:</strong>
  <%= @vote.constituency %>
</p>

<p>
  <strong>Yes vote:</strong>
  <%= @vote.yes_vote %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
